 <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://images.unsplash.com/photo-1513470939372-bd520e7d77db?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9&s=43f097a3ccd2e954c546705932c3cf47');">
    <div class="banner-content">
      <h1>Ashraf's Bar</h1>
      <p>Please choose from our cocktails that will bring joy to your heart</p>
    <%= link_to 'New Cocktail',new_cocktail_path, class: 'btn btn-danger' %>
    </div>
  </div>
</div>
