<div>
  <div class="footer">
    <div class="footer-links">
      <a href="https://github.com/ashrafuthman"><i class="fab fa-github"></i></a>
      <a href="https://www.facebook.com/ashraf.uthman.9"><i class="fab fa-facebook-f"></i></i></a>
      <a href="https://www.linkedin.com/in/ashraf-uthman-47b56715a/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fa fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
