<div>
 <button type="button" class="btn btn-primary fas fa-info" data-toggle="modal" data-target=".bs-example-modal-sm">How to use?</button>

 <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabell">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content font">
      <ol>
        <li>
          Click New Cocktail
        </li>
        <li>
          Name your cocktail and upload picture of your cocktail

        </li>
        <li>

          Add the doses of your cocktail
        </li>
        <li>
          You have your cocktail on the website

        </li>
         <h5 class="font" style="font-weight: bolder;">Press the Logo on the top to go back to the home page</h3>
      </ol>
</div>
